{% extends 'base.html.twig' %}

{% block title %}{{user.username}} {% endblock %}
{% block content %}<!-- details -->
	<section class="section details">
		<!-- details background -->
		<div class="details__bg" data-bg="/img/home/home__bg.jpg"></div>
		<!-- end details background -->

		<!-- details content -->
		<div class="container">
			<div class="row">
				<!-- title -->
				<div class="col-12">
					<h1 class="details__title">{{user.username}}</h1>
				</div>
				<!-- end title -->

				<!-- content -->
				<div class="col-12 col-xl-6">
					<div class="card card--details">
						<div class="row">
							<!-- card cover -->
							<div class="col-12 col-sm-4 col-md-4 col-lg-3 col-xl-5">
								<div class="card__cover">
									<img src={{user.Image}} alt="">
								</div>
							</div>
							<!-- end card cover -->

							<!-- card content -->
							<div class="col-12 col-sm-8 col-md-8 col-lg-9 col-xl-7">
								<div class="card__content">
									

									<ul class="card__meta">
                                    {% if user.Birthday is empty %}
                                    {% else %}
                                        <li><span>Gimimo data: {{user.Birthday}}</span> </li>
                                    {% endif %}
                                    
										
										<li><span>Matytų filmų skaičius:</span> {{user.MoviesSeenCount}} </li>
										<li><span>Komentarų skaičius:</span> {{user.ComentCount}}</li>
                                        <li><span>Mėgstamų filmų sarašas:</span> {{user.WatchListSize}}</li>
									</ul>

									<div class="card__description card__description--details">
                                    {% if user.Description is empty %}
                                    Aprašo nėra
                                    {% else %}
                                    {{user.Description}}
                                    {% endif %}
									</div>
								</div>
							</div>
							<!-- end card content -->
						</div>
					</div>
				</div>
				<!-- end content -->

				<div class="col-12">
					<div class="details__wrap">
					</div>
				</div>
			</div>
            <li class="header__nav-item">
								<a class="header__nav-link" href="{{ path('editUser') }}" role="button" aria-expanded="false">Redaguoti paskyrą</a>
							</li>
		</div>
		<!-- end details content -->
        
	</section>
	<!-- end details -->

	<!-- content -->
	<!-- end content -->
{% endblock %}
