{% extends 'base.html.twig' %}

{% block title %}{{ user.username }} mėgiami filmai {% endblock %}

{% block body %}


{% block content %}
	<h1>Filmai</h1>
	<h1>Filmai</h1>

<h3><b><a href="/naujas/filmas/" class="btn btn-success">Sukurti filmą</a></b></h3>
	{% if watchlists %}
		<table id="movies" class="table table-striped">
			<thread>
				</tr>
			</thread>

			<tbody>
			{% for watchlist in watchlists %}
			<tr>
			<td><h4><font color="green">{{watchlist.id}}</font></h4></td>
			<td>
			{# <a href="/filmai/{{ watchlist.id }}" class="btn btn-primary">Parodyti</a>
			<a href="/filmas/redaguoti/{{ watchlist.id }}" class="btn btn-success">Redaguoti</a>
			<a href="#" class="btn btn-danger delete-movie" data-id="{{ movie.id }}">Delete</a> #}
			</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p>No movies</p>
	{% endif%}
{% endblock %}

{% block javascripts %}
	<script src="/js/delete.js"></script>
{% endblock %}
{% endblock %}
